
-- Study sessions (feeds dashboard 'Lịch học sắp tới')
create table group_sessions (
  id          uuid primary key default gen_random_uuid(),
  group_id    uuid references study_groups(id) on delete cascade,
  created_by  uuid references profiles(id),
  topic       text not null,
  start_time  timestamptz not null,
  location    text,
  created_at  timestamptz default now()
);
alter table group_sessions enable row level security;
create policy "members can read"   on group_sessions for select using (
  exists (select 1 from study_group_members where group_id = group_sessions.group_id and user_id = auth.uid())
);
create policy "members can insert" on group_sessions for insert with check (
  exists (select 1 from study_group_members where group_id = group_sessions.group_id and user_id = auth.uid())
);

-- Group announcements (threaded notices inside a group)
create table group_announcements (
  id         uuid primary key default gen_random_uuid(),
  group_id   uuid references study_groups(id) on delete cascade,
  author_id  uuid references profiles(id),
  content    text not null,
  created_at timestamptz default now()
);
alter table group_announcements enable row level security;
create policy "members can read"   on group_announcements for select using (
  exists (select 1 from study_group_members where group_id = group_announcements.group_id and user_id = auth.uid())
);
create policy "members can insert" on group_announcements for insert with check (
  exists (select 1 from study_group_members where group_id = group_announcements.group_id and user_id = auth.uid())
);

